.AboutMeDiv {
    width: 65rem;
}

.AboutMeDiv a,
.AboutMeDiv button {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);

    color: rgb(156, 23, 0);

    transition: all 0.1s;
}

.AboutMeDiv a:hover {
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
}
.AboutMeDiv a:active {
    background-color: rgba(0, 0, 0, 0.192);
    color: rgb(110, 17, 0);
}

#copyText {
    color: rgba(54, 54, 54, 0);
    transition: all 0.1s;
}

.AboutMeDiv h2:hover #copyText {
    color: rgba(53, 53, 53, 0.295);
}

.email button {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
